Repository urasaku77/party-checker-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

:tada: チェック機能追加
  components/checker/Checker.module.css
  components/checker/checker.tsx
  components/input/input.tsx
  components/menu/Menu.module.css
  components/menu/menu.tsx
  components/result/Result.module.css
  components/result/result.tsx
  components/rule/Rule.module.css
  components/rule/rule.tsx
  components/title/title.tsx
  data/data.tsx
  data/pokemon.tsx
  pages/index.tsx
  public/EmHlzzLXEAAgVLq.jpg
  public/IMG_0004.JPG
  public/header.png
  styles/Home.module.css
Due: eslint --fix, stylelint --fix

:bug: 記載ミス
  components/rule/rule.tsx
  data/pokemon.tsx
Due: eslint --fix

:sparkles: 使い方記載、ルール更新、一部制限ポケモンを選択した時点でポップアップを出す
  components/checker.tsx
  components/input.tsx
  components/menu/menu.tsx
  components/result.tsx
  components/result/Result.module.css
  components/result/result.tsx
  components/rule/rule.tsx
  components/step.tsx
  components/title/title.tsx
  components/warning.tsx
  data/data.tsx
  data/pokemon.tsx
  package-lock.json
  package.json
  pages/index.tsx
Due: eslint --fix, stylelint --fix

:+1: warningごとにメッセージを設定するように
  components/checker.tsx
  components/input.tsx
  components/rule/Rule.module.css
  data/data.tsx
  data/pokemon.tsx
Due: eslint --fix, stylelint --fix

:+1: ルール表記を修正
  components/rule/Rule.module.css
  components/rule/rule.tsx
Due: eslint --fix, stylelint --fix

:recycle: リファクタリング、抜けていたデータ追加
  components/checker.tsx
  components/input.tsx
  components/result.tsx
  data/data.tsx
  data/pokemon.tsx
Due: eslint --fix

パッケージ更新など
  package-lock.json
  package.json
  pages/index.tsx
Due: eslint --fix

10回大会に対応
  components/checker.tsx
  components/rule/Rule.module.css
  components/rule/rule.tsx
  components/step.tsx
  components/title/Title.module.css
  components/title/title.tsx
  data/pokemon.tsx
Due: eslint --fix, stylelint --fix

結果ダイアログをフルスクリーン化
  components/result.tsx
  components/title/Title.module.css
Due: eslint --fix, stylelint --fix

アイコン変更
  components/title/Title.module.css
  public/favicon.ico
Due: stylelint --fix

ビルドエラー修正
  components/input.tsx
  data/data.tsx
  data/pokemon.tsx
Due: eslint --fix

ガチグマ(アカツキ)の誤字修正
  components/rule/rule.tsx
Due: eslint --fix

パーティが保存されない注意書きを追記
  components/step.tsx
Due: eslint --fix

イラスト削除（コメントアウト）
  components/title/title.tsx
Due: eslint --fix

あいことば修正
  components/result.tsx
Due: eslint --fix

TOD禁止を強調
  components/rule/rule.tsx
Due: eslint --fix

不具合時の連絡先を追記
  components/contact/Contact.module.css
  components/contact/contact.tsx
  pages/index.tsx
Due: eslint --fix, stylelint --fix

TNを入力するように変更
  components/checker.tsx
  components/result.tsx
Due: eslint --fix

仕様変更に伴って、使い方の内容を変更
  components/contact/Contact.module.css
  components/step.tsx
Due: eslint --fix, stylelint --fix

リンクを別タブで開くように修正
  components/contact/contact.tsx
Due: eslint --fix

使い方の文言を微修正
  components/step.tsx
Due: eslint --fix

コンポーネントの引数の型定義、Dataからlabel削除
  components/checker.tsx
  components/contact/contact.tsx
  components/input.tsx
  components/menu/menu.tsx
  components/result.tsx
  components/rule/rule.tsx
  components/step.tsx
  components/title/title.tsx
  components/warning.tsx
  data/data.tsx
  data/pokemon.tsx
Due: eslint --fix

引数型追記漏れ
  pages/_app.tsx
  pages/index.tsx
Due: eslint --fix

違反に関する注意書き追加
  components/caution/Caution.module.css
  components/caution/caution.tsx
  components/contact/contact.tsx
  pages/index.tsx
  public/mark_chuui.png
Due: eslint --fix, stylelint --fix

結果画面のレイアウト変更
  components/caution/Caution.module.css
  components/result.tsx
Due: eslint --fix, stylelint --fix

無駄な文字列を削除
  components/caution/caution.tsx
Due: eslint --fix

ルールの一部にポケ徹の分類リンクを挿入
  components/rule/Rule.module.css
  components/rule/rule.tsx
  components/step.tsx
Due: eslint --fix, stylelint --fix

cssフォーマット
  components/rule/Rule.module.css
Due: stylelint --fix

ガチグマ（アカツキ）を制限から撤廃
  data/pokemon.tsx
Due: eslint --fix

ともっこをルールに記載
  components/rule/rule.tsx
Due: eslint --fix

告知ツイートのリンクを追加
  components/caution/caution.tsx
Due: eslint --fix

テンプレート用に一部文言修正
  README.md
  components/caution/caution.tsx
  pages/index.tsx
Due: eslint --fix

タイトル修正
  .vscode/settings.json
  components/title/title.tsx
Due: eslint --fix

Update README.md
  README.md
Due: none

藍の円盤対応
  data/pokemon.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.js)) or (any of: *.jsx)
  stylelint --fix: ((any of: *.scss) or (any of: *.css)) or (any of: *.sass)
